<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% @items[@index..@items.length].each_with_index do |item, index| %>
          <%= render "show", item: item, item_count: @items.count, index: index + @index %>
        <% end %>
      </div>
    </div>
  </main>
</div>

<div class="govuk-width-container hidden" id="finishedContainer">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <%= render "govuk_publishing_components/components/panel", {
          title: "Questions completed",
          description: "Thanks so much for your time.".html_safe
      } %>
    </div>

    <%= render "user_feedbacks/new" %>
  </main>
</div>
