<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row text-center">
            <%= render "govuk_publishing_components/components/heading", {
            text: "We couldn't find those questions, check you've entered the url correctly"
            } %>
        </div>
    </main
</div>
